@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Well come</h1>
    <p class="lead">This is Quiz click <a href="~/Home/Quiz" class="btn btn-primary btn-lg">HERE</a></p>    
</div>

